{{ ansible_managed | comment }}
# Environment variables for {{ nsd_zone_name }}

KEY_ALGORITHM="{{ nsd_dnssec_algo }}"
ZSK_VALIDITY_PERIOD={{ nsd_zsk_validity_period }}
ZSK_GRACE_PERIOD={{ nsd_zsk_grace_period }}
ZSK_ROTATION_DAY={{ nsd_zsk_rotation_day }}
PROPAGATION_DELAY={{ nsd_dnssec_propagation_delay }}
